<div>
    <h1>El balance de tu cuenta es <%=@monto%></h1>
    <form method="post" action="depositar">
        <h2>Monto: </h2>
        <input type="number" id="monto"></input>
        <input type="submit" id="depositar" value="Depositar">
        <input type="submit" id="retirar" value="Retirar">
    </form>
</div>